{% extends "da/base.html" %}
{% load staticfiles %}
{% block body_block %}
<br><br><br>
<div class="container" >
  <div class="jumbotron text-center" >
<h2 style="font-family: georgia;">About us</h2>
<p style="font-family: georgia;">We are a team of  7 from DA-IICT who are developing this tool for their Software engineering project</p>
<p style="font-family:georgia;"> Project undertaken by: <br>
Shloka Pandya - 	201601154<br>
Neel Chaudhary - 	201601164<br>
Kavit Shah - 		201601176<br>
Ravi Patel - 		201601185<br>
Pankti Shah - 		201601206<br>
Mitul Patel - 		201601208<br>
Kirtana Phatnani - 	201601210<br>
</p>
</div>
</div>
{% endblock %}