{% extends "da/base.html" %}
{% block body_block %}
<head>
    <title>iHelpu-Feed Data</title>
</head>
<br>
    {% if user.is_authenticated %}
        
        <table style="width:50%; background-color: #f2f2f2; border-radius:5px;" align="center" >
		<tr>
		<td>
               <h2 align="center" style="font-family: georgia;"> Feed Data </h2>
   <br>
 	<form action="{% url 'da:outbreak_submission' %}" method="post">
 		{% csrf_token %}

    <label for="disease_name">Disease name</label><br>
    <input type="text" id="disease_name" name="disease_name" >
    <br><br>
    <label for="no_of_deaths">Number of deaths</label>
    <input type="text" id="no_of_deaths" name="no_of_deaths">
    <br><br>
    <label for="no_of_affected">Number of affected people</label><br>
    <input type="text" id="no_of_affected" name="no_of_affected">
    <br><br>
    <label for="location">Location</label><br>
    <input type="text" id="location" name="location">
    <br><br>
    <label for="o_date">Date of Entry</label><br>
    <input style="width:100%;" type="Date" id="date" name="o_date">
    <br><br>
    <input id="id_feeddata" type="submit" value="Submit">
  	</form>
	</td>
	</tr>
	</table>


 {% else %}
        <h2>Please login</h2>
    {% endif %}

{% endblock %}

