{% extends 'da/base.html' %}
{% block body_block %}

 <br>
   <br>
<table style="width:50%; background-color: #f2f2f2; border-radius:5px;" align="center" >
    <tr>
        <td>
            <h2 align="center" style="font-family: georgia;"> Login </h2>
            <form method="post" action="{% url 'da:user_login' %}">
                {% csrf_token %}
                {# A more "HTML" way of creating the login form#}
                <label for="username">Username:</label>
                <input type="text" name="username" placeholder="Username">
                    <label for="password">Password:</label>
                    <input type="password" name="password" placeholder="Password">
                        <input id="id_login" type="submit" name="" value="Login">
            </form>
        </td>
    </tr>
</table>
{% endblock %}
