{% extends "da/base.html" %}
{% load staticfiles %}
{% block body_block %}
<head>
	<title>iHelpu-Newsfeed</title>
</head>
<body style="background-color:#9ea0a3;background-image: none;font-family: Georgia;">
<br>
<div class="container" >
  <div class="jumbotron" style="opacity:1;text-align:center;">
<h2>Daily Disease News</h2>
</div>
</div>
<br>
<div class="container">
<div id="id01"></div>
</div>
</body>
<script type="text/javascript">
var None="";
var newsr ={{ news |safe }};
var text = "";
count = 0;

for (var key in newsr){
      	 var value = newsr[key];
      	 
      	  console.log(value);
      	 
		text = text +"<div class=\"jumbotron\"><table><tr><td><a href=\""+value.url +"\"><h4>" + value.title + "</h4></a>";
		text = text + "By  " + value.author+"<br><br>";
		text = text + "Description : " + value.description + "<br><br>";
		text = text + "About : " + value.content + "<br></td>";
		text = text + "<td><img style=\"height:250px;width:250px;object-fit:scale-down;\"src=\""+value.urlToImage+"\"></td></tr></table></div>"
		text= text +  "<br>";
		
		count = count + 1;
		if(count == 10){
			break;
		}
	
		}
document.getElementById("id01").innerHTML = text;
</script>
{% endblock %}