{% extends "da/base.html" %}
{% load staticfiles %}
{% block body_block %}
<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">
    <style>
      .map {
        height: 100%;
        width: 100%;
        background-color: #fff;
    	padding: 7px;
    	border-radius:3px;
      }
    </style>
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
    <title>iHelpU-Outbreaks</title>
  </head>
  <body style="background-color:#e3e5e8;background-image: none;">
  	<div>
  		<br>
  		<h2 align=center style="font-family: Georgia;">Outbreak Detection</h2>
  	<table style="width:80%;" align="center">
  		<tr>
  			<td style="width:35%;font-family: Georgia;text-align:justify;"><h4 style="font-family: Georgia; line-height:40px;"> The following map shows the magnitude of people affected by outbreaks in the past 3 months. A red circle indicates the number of deaths due to the outbreak, a yellow circle indicates low severity and an orange circle indicates high severity of people affected by the disease. The map can be filtered according to the disease, from and to dates.</h4></td> 

  		<td style="width:40%;">
    <form method="post">
    	{% csrf_token %}
    {{ form.as_p }}
    	<input id="id_outbreak" type="submit" value="Submit">
	</form>
</td>
</tr>
</table>
</div>
	<br>
  <!--
	{% if request.POST %}
	<p>Got values {{fromDate}} and {{toDate}} and {{diseaseName}} <br> </p>
	{% endif %}
	<p>{{dq}}</p>
	<p>{{dn}}</p>
	<p>{{aq1}}</p>
	<p>{{an1}}</p>
	<p>{{aq2}}</p>
	<p>{{an2}}</p>-->
    <div id="map" class="map"></div>
    <script type="text/javascript">
      //query: tuples that have from date ,to date and disease as specified by user, 
      var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([78.96,22.59]),
          zoom: 4.5
        })
      });
      var marker = new Array();
      var deathlist = {{dq}};
      var afflist1 = {{aq1}};
      var afflist2 = {{aq2}};
      var dnum = {{dn}};
      var anum1 = {{an1}};
      var anum2 = {{an2}};
      var mag = new Array();
      i=0;
      for (var temp in dnum) {
      	var num=dnum[temp];
      	mag[i]=num;
      	i=i+1;
      }
      for (var temp in anum1) {
      	var num=anum1[temp];
      	mag[i]=num;
      	i=i+1;
      }
      for (var temp in anum2) {
      	var num=anum2[temp];
      	mag[i]=num;
      	i=i+1;
      }
      
      i=0;
      for (var key in deathlist){
      	 var value = deathlist[key];
         marker[i] = new ol.Feature({
	  	 geometry: new ol.geom.Point(
	    	ol.proj.fromLonLat(value)
	  	),
		});
         marker[i].setStyle(new ol.style.Style({
            image: new ol.style.Circle({
              radius: 5+3*Math.log(mag[i]) ,
              fill: new ol.style.Fill({
                color: '#f00'
              })
            }),
            text: new ol.style.Text({
              text: ""+mag[i],
              fill: new ol.style.Fill({
              	color: '#000'
              })
            })
          }));
         i=i+1;
        }
 
      for (var key in afflist1){
      	 var value = afflist1[key];
         marker[i] = new ol.Feature({
	  	 geometry: new ol.geom.Point(
	    	ol.proj.fromLonLat(value)
	  	),
		});
         marker[i].setStyle(new ol.style.Style({
            image: new ol.style.Circle({
              radius: 5+3*Math.log(mag[i]) ,
              fill: new ol.style.Fill({
                color: '#f9e504'
              })
            }),
            text: new ol.style.Text({
              text: ""+mag[i],
              fill: new ol.style.Fill({
              	color: '#000'
              })
            })
          }));
         i=i+1;
      }

      for (var key in afflist2){
      	 var value = afflist2[key];
         marker[i] = new ol.Feature({
	  	 geometry: new ol.geom.Point(
	    	ol.proj.fromLonLat(value)
	  	),
		});
         marker[i].setStyle(new ol.style.Style({
            image: new ol.style.Circle({
              radius: 5+3*Math.log(mag[i]) ,
              fill: new ol.style.Fill({
                color: '#f98111'
              })
            }),
            text: new ol.style.Text({
              text: ""+mag[i],
              fill: new ol.style.Fill({
              	color: '#000'
              })
            })
          }));
         i=i+1;
      }
      
	var vectorSource = new ol.source.Vector({
	  features: marker
	});
	var markerVectorLayer = new ol.layer.Vector({
	  source: vectorSource,
	});

	map.addLayer(markerVectorLayer);
    </script>
    <br><br>
  </body>
</html>
{% endblock %}