{% extends "da/base.html" %}
{% load staticfiles %}
{% block body_block %}
<br>
   <h2 align="center" style="font-family: georgia; color: white;"> Pharmacy SignUp </h2>
   <br>
<table style="width:50%; background-color: white; " align="center" >
    <tr>
        <td>
            {% if registered %}
            <h1>Thank you for registering!</h1>
        <br>
        <h3><a href="{% url 'da:user_login' %}">click here to login</a></h3>
            {% else %}
            
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{ p_user_form.as_p }}
                {{ p_profile_form.as_p }}
                <input type="submit" name="" value="Register">
            <a href="{% url 'da:user_login' %}" style="align: center;">Already Registered? Click to Login</a>
                    </form>
        </td>
    </tr>
</table>
{% endif %}

{% endblock %}
